*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.navbar{
    width: 100%;
}
.logo-heading-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.heading-container{
    text-align: center;
}
h2{
    font-size: 22px;
    font-weight: bold;
}
h3{
    font-size: 22px;
    font-weight: bold;
}
.sm-devices{
    font-size: 20px;
    font-weight: 600;
}
.logo-img{
    width: 20%;
    margin-bottom: 20px;
}
.organise-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.organise-image{
    width: 90%;
}
.organise-by-content{
    text-align: center;
    margin-top: 20px;
}
h4{
    font-size: 18px;
    font-weight: 600;
}
.mid-section-container{
    width: 100%;
    padding: 10px;
}
.bottom-section-container{
    width: 90%;
}
.gold-image{
    width: 100%;
}
@media (min-width:768px) {
    .logo-img{
        width: 10%;
        margin-bottom: 0;
    }
    .logo-heading-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .organise-image{
        width: 40%;
        height: 300px;
        border-radius: 10px;
    }
    .mid-section-container{
        width: 90%;
    }
    .organise-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .organise-by-content{
        margin: 0px;
    }
    h4{
        font-size: 20px;
    }
    .overview{
        font-size: 21px;
    }
}
footer{
    width: 100vw;
}